@use "../../styles/fonts";
@use "../../styles/colors/colors";

.order-modal {
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 10000;
  color: rgb(42, 42, 42);
  background-color: rgba(31, 31, 31, 0.2);
  backdrop-filter: blur(4px);

  &__cancel {
    padding: 20px;
    text-align: center;
    width: 70vw;
    margin: auto;
  }
  &__content {
    margin: auto;
    width: 70vw;
    background-color: white;
    padding: 20px;
    height: 80vh;
    border: 2px solid rgba(51, 51, 51, 0.2);
    box-shadow: 3px 4px 14px 2px rgba(0, 0, 0, 0.08);
    z-index: 2;
  }
  &__navigation {
    position: absolute;
    height: 50px;
    width: 180px;
    background-color: #bcbcbc;
    margin-left: calc(68vw);
    margin-top: -45px;
    border: 2px solid rgba(51, 51, 51, 0.2);
    display: flex;
    z-index: -1;
  }
  &__items {
    position: relative;
    width: 33.3%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 25px;
    padding-top: 10px;
    opacity: 0.3;
    color: colors.$brand-green;
  }
  &__items--active {
    z-index: 1000;
    background-color: white;
    opacity: 1;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: fonts.$primary-font;
}
.checkout-card-container {
  max-height: 100%;
  margin-bottom: 10px;
}

.order-modal__description-container--checkout {
  overflow: auto;
}

.checkout-card {
  display: flex;
  background-color: colors.$brand-lightBrown;
  padding: 10px;
  gap: 10px;
  height: max-content;
  &__title {
    font-weight: 700;
  }
  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: colors.$brand-green;
    img {
      width: 80px;
    }
  }
  &__bottom-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__size-container {
    background-color: rgb(252, 223, 188);
    border-radius: 5px;
    padding: 5px;
  }
  &__remove-button {
    padding: 10px 15px;
    border: none;
    background-color: colors.$brand-brown;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
  }
}

.checkout-summary {
  margin-top: auto;
  &__card {
    background-color: rgb(253, 236, 199);
    padding: 14px 16px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  &__card-price {
    font-weight: 500;
  }
  &__card--total {
    background-color: colors.$brand-lightBrown;
    padding: 14px 16px;
    font-weight: 700;
  }
}
.checkout-button-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  &__back {
    width: 20%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: fonts.$primary-font;
  }
  &__next {
    cursor: pointer;
    width: 80%;
    padding: 15px;
    background-color: colors.$brand-brown;
    border: none;
    color: white;
    font-size: 18px;
    font-family: fonts.$primary-font;
  }
}

// mobile version
@media (max-width: 768px) {
  .order-modal {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(204, 0, 0);
    overflow-y: auto;
    &__navigation {
      display: none;
    }
    &__content {
      overflow-y: scroll;
      width: 90dvw;
      background-color: white;
      height: 95dvh;
    }
    @supports not (height: 100dvh) {
      height: calc(var(--vh, 1vh) * 100);
    }
  }
}


