@use "../../styles/fonts";
@use "../../styles/colors/colors";

.aside{
    background-color: colors.$brand-lightBrown;
    padding: 90px 90px;
    box-shadow: 2px -2px 5px rgba(49, 49, 49, 0.5);
    &__category-title{
        font-family: fonts.$primary-font;
        width: 250px;
        font-size: 24px;
        height: 100px;
        border: solid;
        border-width: 3px 0px 3px 0px;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:first-child{
            border-width: 3px 0px 0px 0px;
        }
        &:last-child{
            border-width: 0px 0px 3px 0px;
        }
        &:hover{
            background-color: #ffce73;
        }
        &--active{
            background-color: #ffce73;
        }
    }
}

// mobile version
@media (max-width: 768px) {
    .aside{
        display: none;
    }
}