.footer__social-icon {
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 20px;
&:hover{
        cursor: pointer;
        color: white;
        background-color: black;
        transition: 0.2s ease-in-out;

    }
  }

  @media (max-width: 768px) {
    .footer__social-icon {
      width: 50px;
      height: 50px;
      font-size: 24px;
      margin-right: 10px;
    }
  }