@use "../../styles/colors/colors";
@use "../../styles/fonts";

.navbar {
  background-color: colors.$brand-brown;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
  font-family: fonts.$primary-font;
  text-transform: capitalize;
  color: white;

  .mobile-menu {
    display: none;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 20px;
        font-size: 24px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: underline;
          }
          &::after {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.mobile-menu-dropdown {
  display: none;
}

// mobile screen

@media (max-width: 768px) {
  .navbar {
    height: 72px;
    .mobile-menu {
      display: block;
      font-size: 30px;
    }
    .brand-logo {
      img {
        height: 30px;
      }
    }
    padding: 0px 20px;
    nav {
      display: none;
    }
  }
  .mobile-menu-dropdown {
    display: none;
    background-color: colors.$brand-green;

    ul {
      margin: 0;
      padding: 8px;
    }

    li {
      list-style: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      color: white;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        text-decoration: none;
        padding: 16px;
        width: 100%;
        border-radius: 8px;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: colors.$brand-brown;
        }

        &.active-link {
          background: linear-gradient(to bottom, rgba(#FFD890, 0.176), rgba(#998256, 0.26));
          border-radius: 8px;
          border-bottom: 2px solid rgba(248, 248, 248, 0.45);

        }
      }
    }

    &.active {
      display: block;
    }
  }
}

.menu-toggle {
  font-size: 24px;
}
