.card-choice {
  display: flex;
  width: 100%;
  gap: 16px;
}

.card-choice-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 300ms box-shadow ease-in-out;
  }
  img {
    width: 80px;
  }
  &:last-child {
    img {
      width: 50px;
    }
  }
}
