@use "../../styles/fonts";
@use "../../styles/colors/colors";

.featureSection{
    background-color: colors.$brand-brown;
    padding: 30px 0px 50px 0px;
    h1{
        font-family: fonts.$primary-font;
        text-align: center;
        color: white;
        padding: 30px 20px;
        margin: 0px;
    }
}

// mobile screen
@media (max-width: 768px) {
    .featureSection{
        padding: 20px 0px 30px 0px;
        h1{
            font-size: 24px;
            padding: 20px 10px;
        }
    }
}