@use "../../styles/fonts";
@use "../../styles/colors/colors";

.display-menu{
    padding: 20px 90px;
    &__items-container{
        display: flex;
    }
    &__title{
        font-size: 38px;
        font-family: fonts.$primary-font;
        font-weight: 300;
        width: 400px;
    }
}

// mobile version
@media (max-width: 768px) {
    .display-menu{
        padding: 10px 20px;
        &__items-container{
            display: flex
        }
        &__title{
            font-size: 20px;
            width: 70%;
        }
        hr{
            margin-top: 20px;
            border: 0.1px solid rgb(230, 230, 230);
        }
    }
}