@use "../../styles/fonts";
@use "../../styles/colors/colors";

.addOn-wrapper {
  width: 100%;
  background-color: colors.$brand-lightBrown;
  margin-top: 30px;
  min-height: 150px;
  &__title-container {
    background-color: colors.$brand-brown;
    padding: 10px 20px;
  }
  &__title{
    color: white;
    font-family: fonts.$primary-font;
    font-size: 17px;
  }
  &__content{
    padding: 10px;
  }
}
