@use "../../../styles/fonts";
@use "../../../styles/colors/colors";

.order-modal__description-container--payment {
  background-color: colors.$brand-lightBrown;
}

.order-modal__image--display-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-image {
    z-index: 1000;
  }
}

.payment-receipt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
  width: 70%;
  border-radius: 15px;
  height: 375px;

  &__payment-totals {
    background-color: #fff4e0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 300px;
    border-radius: 20px;
    height: 70%;
  }
  &__dashed-border {
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(
        to right,
        #fff4e0 0 10px,
        /* dash length */ transparent 10px 20px /* gap size */
      )
      1;
    width: calc(100% - 40px);
  }
  &__payment-final-total {
    box-sizing: border-box;
    background-color: #fff4e0;
    width: 100%;
    padding: 20px;
    height: 30%;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

.sub__flex {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
// -------------------- payment form styles --------------------
.cards_Form {
  justify-content: end;
  gap: 15px;
  margin-top: 20px;
  padding: 50px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  
  &__card_type_container{
    height: 40px;
    width: 100%;
    border-radius: 8px;
  }
  &__card-expiry-cvv{
    display: flex;
    gap: 10px;
  }
  
  input{
    
    height: 48px;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: none;
    &:focus{
      outline: 2px solid black;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    }
  }

  #card-number{
    
  }

  button{
    margin-top: 20px;
    height: 48px;
    background-color: #99571E;
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2),    inset 0px 0px 14.6px 6px #BD773A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .error-messages{
    color: red;
    font-size: 16px;
  }
}

.total-figure{
    font-size: 24px;
    font-weight: 600;
}

// mobile design
@media (max-width: 768px) {
  
  .order-modal__image--display-payment{
    display: none;
  }
  .cards_Form{
    padding: 16px;
    button{
      height: 64px;
    }
  }
  
}