@use "../../styles/fonts";
@use "../../styles/colors/colors";

.addOnInput{
    &__label{
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 12px;
        
    }
    &__field{
        background-color: #FFE5B4;
        padding: 20px;
        margin-top: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_placeholder{
        width: 80%;
    }
    &__Counter{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85px;
    }
    &__Button{
        width: 30px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }
}

// mobile version
@media (max-width: 768px) {
    .addOnInput{
        &__field{
            padding: 18px;
        }
        &__label{
            font-size: 16px;
            margin-left: 4px;
        }
        &_placeholder{
            font-size: 16px;
        }
        // &__Counter{
        //     width: 70px;
        // }
        // &__Button{
        //     width: 25px;
        //     height: 25px;
        //     font-size: 8px;
        // }
    }
}