.purchase-card{
    width: 230px;
    height: 260px;
    border-radius: 8px;
    background-image: url(../../assets/debit-card-background.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgba(27, 27, 27,0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__metal-chip{
        flex: 6;
        
        border-radius: 5px;
        margin-bottom: 10px;
        img{
            width: inherit;
            height: inherit;
        }
    }
    &__name-number-container{
        flex: 3;
    }
    &__date-cardType-container{
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        .card-type{
            width: 60px;
            img{
                width: 60px;
            }
        }
    }
}

.stars-container{
    display: flex;
    gap: 4px;
    img{
        width: 6px;
    }
}
.card-number{
    display: flex;
    gap: 8px;
    align-items: center;
}
.card-name{
    font-weight: 500;
}