@use "../../styles/fonts";
@use "../../styles/colors/colors";

.heroSection {
  display: flex;
  padding: 0px 80px;
  background-color: colors.$brand-lightBrown;

  .heroDescription {
    width: 50%;
    padding: 50px 0px;
    p {
      width: 530px;
      font-size: 20px;
    }
    h1 {
      width: 530px;
      font-family: fonts.$primary-font;
      font-size: 64px;
      margin: 0px;
      padding: 0px;
    }
    .buttonContainer {
      display: flex;
      width: 430px;
      justify-content: space-between;
    }
  }
  .heroImage {
    width: 50%;
    padding: 50px 0px;

    .imageContainer {
      background-color: colors.$brand-green;
      width: 80%;
      height: 100%;
      border-radius: 30px;
      padding: 15px;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .heroSection {
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    .heroDescription {
      width: 100%;
      padding: 20px 0px;
      h1 {
        width: 100%;
        font-size: 40px;
      }
      p {
        width: 100%;
        font-size: 18px;
      }
      .buttonContainer {
        width: 100%;
        flex-direction: row;
        justify-content: start;
        gap: 16px;
      }
    }
    .heroImage {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0px;
      .imageContainer {
        box-sizing: border-box;
        width: inherit;
        height: 350px;
        padding: 5px;
        border-radius: 20px;
        img{
          border-radius: 15px;
        }
      }
    }
  }
}
