@use "../../styles/fonts";
@use "../../styles/colors/colors";

.footer {
  background-color: colors.$brand-green;
  padding: 80px 80px;
  &__description {
    display: flex;
    justify-content: space-between;
  }
  &__links {
    width: 30%;
  }
  &__social-container {
    display: flex;
    margin-top: 20px;
  }
  &__social-icon {
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 20px;
  }
  &__nav {
    color: white;
    font-family: fonts.$primary-font;
    font-size: 30px;
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  &__nav-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  &__nav-item {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__application {
    width: 40%;
    color: white;
    font-family: fonts.$primary-font;
    button {
      font-size: 24px;
      border-radius: 40px;
    }
  }
  &__application-text {
    font-size: 28px;
    margin: 0px;
  }
  &__copyright {
    margin-top: 90px;
  }
  &__horizontal-line {
    font-weight: 100;
    border: 0.1px solid rgba(255, 255, 255, 0.4);
  }
  &__copyright-text {
    color: white;
  }
}

// mobile screen
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
    &__description {
      flex-direction: column;
      gap: 40px;
    }
    &__social-container{
      margin-top: 0px;
    }
    &__links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__nav {
      width: 100%;
      font-size: 18px;
    }
    &__nav-item {
      margin-bottom: 20px;
    a {
      color: white;
      text-decoration: none;
      font-family: fonts.$secondary-font;
      &:hover {
        text-decoration: underline;
      }
    }
  }
    &__application {
      width: 50%;
      text-align: center;
      button {
        font-size: 20px;
      }
    }
    &__application-text {
      font-size: 20px;
      margin-bottom: 16px;
      line-height: 150%;
    }
    &__copyright {
    margin-top: 20px;
  }
  }
}
