@use "../../styles/fonts";
@use "../../styles/colors/colors";

.sponsorsContainer {
    width: 100%;
    height: 100px;
    background-color: colors.$brand-green;
    position: relative;
    overflow: hidden;
}

.left-fade {
    position: absolute;
    width: 50px;
    height: 100%;
    background: linear-gradient(90deg, colors.$brand-green, rgba(colors.$brand-green, 0));
    top: 0;
    left: 0;
    z-index: 2;
}

.right-fade {
    position: absolute;
    width: 50px;
    height: 100%;
    background: linear-gradient(270deg, colors.$brand-green, rgba(colors.$brand-green, 0));
    top: 0;
    right: 0;
    z-index: 2;
}

// Marquee wrapper
.sponsors__marquee {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

// Scrolling track
.sponsors__marquee-track {
    display: flex;
    align-items: center;
    gap: 120px;
    animation: marquee 25s linear infinite;
}

// Sponsor item
.sponsors__marquee-item {
    border-radius: 50%;
    flex-shrink: 0;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 5px solid rgba(255, 255, 255, 0.3);

        &:hover {
            width: 70px;
            height: 70px;
            transition: all 0.3s ease-in-out;
        }
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

// mobile version
@media (max-width: 768px) {
    .sponsorsContainer {
        height: 100px;
    }

    .sponsors__marquee-item {
        img {
            width: 50px;
            height: 50px;

            &:hover {
                width: 60px;
                height: 60px;
            }
        }
    }
}