@use "../../styles/fonts";
@use "../../styles/colors/colors";

.aboutSection {
  margin: 0px;
  background-color: colors.$brand-lightBrown;
  padding: 50px 80px;
}

.aboutContainer {
  background-color: colors.$brand-green;
  padding: 32px;
  border-radius: 30px;

  h1 {
    color: white;
    font-family: fonts.$primary-font;
    text-align: center;
  }

  .aboutDescription {
    .img-container {
      background-image: url(../../assets/shop-image.png);
      height: 50vh;
      width: 100%;
      background-size: cover;
      background-position: top;
      border-radius: 20px;
    }

    .descriptionText {
      font-size: 20px;
      color: white;
      line-height: 150%;
      letter-spacing: 1px;
      font-weight: 100;
      columns: 2;
      column-gap: 2rem;

      span {
        font-size: 24px;
      }
    }
  }
}

// mobile screen
@media (max-width: 768px) {
  .aboutSection {
    padding: 16px;
  }

  .aboutContainer {
    background-color: colors.$brand-green;
    padding: 20px;
    border-radius: 20px;

    h1 {
      color: white;
      font-size: 24px;
    }

    .aboutDescription {
      .descriptionText {
        font-size: 16px;
        color: white;
        line-height: 150%;
        letter-spacing: 1px;
        font-weight: 200;
        text-align: justify;
        columns: 1;

        span {
          font-size: 20px;
        }
      }
    }
  }
}